{% extends 'base.html' %}

{% block back_button %}{% endblock %}

{% block title %}Книжный магазин - Главная{% endblock %}

{% block extra_style %}
<style>
  .card-img-top {
    max-height: 150px;
    width: 100%;
    object-fit: contain;
    background-color: #f8f9fa;
  }
</style>
{% endblock %}

{% block content %}
<div class="border rounded flex-grow-1 p-3 overflow-auto d-flex flex-column gap-4">
  <section class="border rounded p-3">
    <h4>Топ 3 продаж недели</h4>
    <div class="row g-3">
      {% for book in top_books %}
      <div class="col-md-4">
        <a href="{{ url_for('book.book', book_id=book.id) }}" class="text-decoration-none text-dark">
          <div class="card h-100 animation">
            <img src="{{ url_for('static', filename='covers/blue_book.png') }}" class="card-img-top"
              alt="{{ book.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ book.author }}</h5>
              <em>
                <p class="card-text">{{ book.title }}</p>
              </em>
              <p class="card-rating mb-1">
                <strong>Рейтинг:</strong> {{ book.rating }}
              </p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
  <section class="border rounded p-3">
    <h4>Разделы Каталога</h4>
    <div class="row g-3">
      {% for category in categories %}
      <div class="col-sm-6 col-md-4 col-lg-3 animation">
        <div class="card text-center">
          <img src="{{ url_for('static', filename='covers/black_book.png') }}" class="card-img-top"
            alt="{{ category }}" />
          <div class="card-body">
            <h6 class="card-title mb-0">{{ category }}</h6>
            <a href="{{ url_for('index.books_by_category', category_name=category) }}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}